.vs/
bin/
obj/
[Bb]in/
[Oo]bj/
*.user
*.userosscache
*.sln.docstates

project.lock.json
project.fragment.lock.json
artifacts/

Backups/
Logs/
Output/
Publish/
test/
Tools/
settings.json
installer.iss
CodeDependencies.iss
cache_preview/
AlphaGenerator.py

Thumbs.db
ehthumbs.db
Desktop.ini

*.suo
*.user
*.userosscache
*.sln.docstates
*.opendb
*.db

publisher_private_key.txt
installer_private_key.txt
license_private_key.pem
license_public_key.pem
publisher_private_key.pem
publisher_public_key.pem
SignInstaller.ps1
dotnet-tools.json

Textures/Premium/
asset_master_key.txt
Tools/asset_master_key.txt
