.vs/
bin/
obj/
[Bb]in/
[Oo]bj/
*.user
*.userosscache
*.sln.docstates

project.lock.json
project.fragment.lock.json
artifacts/

Backups/
Logs/
Output/
Publish/
test/
settings.json
installer.iss
CodeDependencies.iss
cache_preview/
AlphaGenerator.py

Thumbs.db
ehthumbs.db
Desktop.ini

*.suo
*.user
*.userosscache
*.sln.docstates
*.opendb
*.db

publisher_private_key.txt
SignInstaller.ps1
